header {
    padding: 8px 10px;
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 11;
    background: #fff;
    align-items: center;
    justify-content: space-between;
}

header:hover {
    background: #fff;
}

.logo a {
    display: block;
    background: url(../images/logo.png) no-repeat;
    width: 63px;
    height: 63px;
    text-indent: -9999px;
}

.gnb_wrap {
    display: none;
}

.top_menu {
    display: none;
}

.menu_popup {
    display: block;
    background: url(../images/menu_icon.png) no-repeat;
    width: 29px;
    height: 29px;
    text-indent: -9999px;
}

/* footer */
footer {
    background: #000;
    color: #fff;
    padding: 20px;
}

.footer_wrap {
    display: flex;
    flex-direction: column;
}

.footer_right dl {
    margin-bottom: 28px;
}

.footer_right dt {
    font-weight: 800;
}

.footer_right dd {
    display: flex;
    flex-direction: column;
    padding: 4px 0;
    font-size: 12px;
}

.footer_right p {
    padding: 2px 0;
}

.footer_bottom {
    display: flex;
    font-size: 12px;
}

.bottom_logo {
    display: block;
    background: url(../images/bottom_logo.png) no-repeat;
    width: 63px;
    height: 63px;
    text-indent: -9999px;
    margin-right: 20px;
}

.bottom_copyright {
    flex: 1;
    font-size: 12px;
}

.footer_left h3 {
    font-size: 16px;
    font-weight: 800;
}

.notice_cont {
    padding: 4px 0;
    font-size: 12px;
}

.notice a:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.notice_more_btn {
    margin-left: 24px;
}

.sns {
    margin: 28px 0;
}

.sns ul {
    display: flex;
    padding: 4px 0;
}

.instagram_i {
    display: block;
    background: url(../images/instagram_i.png) no-repeat;
    width: 22px;
    height: 22px;
    text-indent: -9999px;
    position: absolute;
    top: 25%;
    left: 24%
}

.facebook_i {
    display: block;
    background: url(../images/facebook_i.png) no-repeat;
    width: 11px;
    height: 22px;
    text-indent: -9999px;
    position: absolute;
    top: 25%;
    left: 36%
}

.youtube_i {
    display: block;
    background: url(../images/youtube_i.png) no-repeat;
    width: 28px;
    height: 22px;
    text-indent: -9999px;
    position: absolute;
    top: 25%;
    left: 18%
}

.sns li {
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
}

.sns li:nth-child(2) {
    margin: 0 20px;
}

.footer_bottom {
    display: flex;
    align-items: center;
} 