.logo a {
    display: block;
    background: url(../images/logo.png) no-repeat;
    width: 63px;
    height: 63px;
    text-indent: -9999px;
}

header {
    padding: 8px 27px;
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 11;
    background: #fff;
}

.gnb_wrap {
    width: 100%;
}

.gnb>ul {
    width: 1024px;
    margin: 0 auto;
    display: flex;
}

.depth_1 {
    width: 100%
}

.depth_1>a {
    display: block;
    font-size: 20px;
    font-weight: 700;
}

.depth_1>ul {
    text-align: center;
    display: none;
}

.gnb ul ul {
    padding: 15px 0;
    width: 100%;
}

.gnb>ul>li>a {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.depth_1>ul>li:not(:first-child) {
    padding-top: 15px;
}

.top_menu {
    font-weight: 700;
    height: 64px;
    display: flex;
    align-items: center;
}

.top_menu ul {
    display: flex;
}

.top_menu a {
    display: block;
    padding: 0 8px;
    white-space: nowrap;
}

/* 메인 이미지 슬라이더 */
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
}

.swiper-slide {
    text-align: center;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    top: 56%
}

.swiper_custom_pagination {
    width : 100%;
    display: flex;
}

.swiper_custom_pagination {
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid #531c7e;
}

.swiper_custom_pagination > li {
    flex: 1;
    text-align: center
}

.swiper_custom_pagination > li > a {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.swiper_custom_pagination > li > a.active,
.swiper_custom_pagination > li > a:hover {
    background: #531c7e;
    color: #fff
}
