@media (min-width: 1200px) {
    .competitive .container {
        width: 1200px;
        margin: auto auto 200px auto;
    }

    .competitive .container_inner {
        padding: 0 20px;
    }

    .competitive .cont {
        height: 450px;
    }
}

