@media (min-width: 640px) {
    header {
        padding: 8px 27px;
    }

    /* main */
  
    main {
        color: #2a1700;
    }

    .padding_top {
        padding-top: 80px;
    }

    .join_title {
        margin: 64px 0;
        text-align: center;
        font-size: 38px;
        font-weight: 800;
    }

    .join_form > input {
        width: 400px;
        height: 44px;
        border-radius: 10px;
        border: 1px solid #2a1700;

    }

    .join_form > label {
        font-size: 20px;
        font-weight: 700;
        width: 120px;
        text-align: left;
    }

    .input_cont {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .input_cont button {
        border: 2px solid #5c068c;
        width: 144px;
        height: 44px;
        font-weight: 700;
        border-radius: 10px;
        color: #5c068c;
    }

    .btn_space {
        width: 144px;
        height: 44px;
    }

    .address_wrap {
        display: flex;
        align-items: center;
    }

    .address_wrap input {
        width: 160px;
        height: 30px;
    }

    #addr_b, #addr_d {
        width: 325px;
        height: 30px;
    }

    /* footer */

    .footer_right dd {
        flex-direction: row;
        white-space: nowrap;
        font-size: inherit;
    }

    .footer_bottom {
        font-size: inherit;
    }

    .bottom_copyright {
        font-size: inherit;
    }

    .notice_cont {
        font-size: inherit;
    }
}