@media (min-width: 1024px) {

    /* header */
    header {
        align-items: flex-start;
    }

    .gnb_wrap {
        display: block;
        width: 100%;
    }

    .gnb>ul {
        width: 100%;
        min-width: 720px;
        max-width: 1024px;
        margin: 0 auto;
        display: flex;
    }

    .gnb ul ul {
        padding: 15px 0;
        width: 100%;
    }

    .gnb>ul>li>a {
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }

    .depth_1 {
        width: 100%
    }

    .depth_1>ul {
        text-align: center;
        display: none;
    }

    .depth_1>ul>li:not(:first-child) {
        padding-top: 15px;
    }

    .depth_1>a {
        font-size: 20px;
        font-weight: 700;
    }

    .depth_1>a:after {
        display: block;
        content: '';
        border-bottom: solid 4px #5c068c;
        width: 100%;
        position: absolute;
        bottom: 0;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
    }

    .depth_1:hover>a:after {
        transform: scaleX(1);
    }

    .top_menu {
        font-weight: 700;
        height: 64px;
        display: flex;
        align-items: center;
    }

    .top_menu ul {
        display: flex;
    }

    .top_menu a {
        display: block;
        padding: 0 8px;
        white-space: nowrap;
    }

    .menu_popup {
        display: none;
    }

    

    /* footer */
    .footer_wrap {
        flex-direction: row-reverse;
    }

    .footer_left {
        flex: 1;
        border-left: 1px solid #fff;
        padding-left: 20px;
    }

    .footer_right {
        flex: 1;
    }

    .notice_more_btn {
        margin-left: 60px;
    }

    .sns {
        margin: 72px 0;
    }
}