/* main */

#login_title {
    margin: 90px 0 64px 0;
    text-align: center;
    font-size: 38px;
    font-weight: 800;
    color: #2a1700;
}

.login_container {
    max-width: 437px;
    margin: 0 auto;
}

.login_container p{ 
    text-align: center;
    margin-bottom: 20px;
}

.login_form input {
    width: 100%;
    height: 55px;
    border-radius: 10px;
    border: 1px solid #2a170069;
    padding: 10px;
}

.login_form input:focus,
.login_form input:hover {
    border-color : #5c068c;
}

.login_form a {
    color: #2a1700;
}

.input_wrap,
.btn_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.err_txt {
    color: rgb(250, 85, 85);
}

.login_sub_menu {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 18px
}

.u_id,
#login_btn {
    margin-bottom: 20px;
}

.id_find:after {
    content: "|";
    margin: 0 8px;
}

.simple_login_title {
    position: relative;
    padding: 10px 0;
    margin-top: 63px;
    margin-bottom: 30px;
}
  
.simple_login_text {
    position: absolute;
    width: 100%;
    top: 2px;
    left: 0;
    display: flex;
    justify-content: center;
}
  
.simple_login_text span {
    padding: 0 10px;
    background: #fff;
}

.simple_login_line {
    border-top: 1px solid #2a1700;
}

.simple_login_cont {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
}

.log_icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    text-indent: -9999px;
}

.log_icon.naver {
    background: url(../images/naver_login.png) no-repeat;
}

.log_icon.kakao {
    background: url(../images/kakao_login.png) no-repeat;
}

.log_icon.fb {
    background: url(../images/fb_login.png) no-repeat;
}

.log_icon.google {
    background: url(../images/google_login.png) no-repeat;
}

#login_btn,
#join_btn,
#back_btn {
    border: 1px solid #5c068c;
    width: 100%;
    height: 55px;
    font-size: 18px;
    border-radius: 10px;
}

#login_btn {
    color: #fff;
    background-color: #5c068c;
}

#join_btn,
#back_btn {
    color: #5c068c;
    background-color: #fff;
}

#footer {
    background-color: #fff;
    color: #000;
    margin: 60px 0;
    font-size: 12px;
}

#footer p {
    text-align: center;
}