/* header */
header {
    padding: 8px 10px;
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 11;
    background: #fff;
    align-items: center;
    justify-content: space-between;
}

header:hover {
    background: #fff;
}

.logo a {
    display: block;
    background: url(../images/logo.png) no-repeat;
    width: 63px;
    height: 63px;
    text-indent: -9999px;
}

.gnb_wrap {
    display: none;
}

.top_menu {
    display: none;
}

.menu_popup {
    display: block;
    background: url(../images/menu_icon.png) no-repeat;
    width: 29px;
    height: 29px;
    text-indent: -9999px;
}

/* main */

.padding_top {
    padding-top: 80px;
}

#login_title {
    margin: 64px 0;
    text-align: center;
    font-size: 38px;
    font-weight: 800;
    color: #2a1700;
}

.login_container {
    width: 437px;
    margin: 0 auto;
}

.login_form input {
    width: 437px;
    height: 55px;
    border-radius: 10px;
    border: 1px solid #2a170069;
    padding: 10px;
}

.login_form input:focus,
.login_form input:hover {
    border-color : #5c068c;
}

.login_form a {
    color: #2a1700;
}

.input_wrap,
.btn_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_sub_menu {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 18px
}

.u_id,
#login_btn {
    margin-bottom: 20px;
}

.id_find:after {
    content: "|";
    margin: 0 8px;
}

.simple_login_title {
    position: relative;
    padding: 10px 0;
    margin-top: 63px;
    margin-bottom: 46px;
}
  
.simple_login_text {
    position: absolute;
    width: 100%;
    top: 2px;
    left: 0;
    display: flex;
    justify-content: center;
}
  
.simple_login_text span {
    background: #fff;
}

.simple_login_line {
    border-top: 1px solid #2a1700;
}

.simple_login_cont {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
}

.log_icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    text-indent: -9999px;
}

.log_icon.naver {
    background: url(../images/naver_login.png) no-repeat;
}

.log_icon.kakao {
    background: url(../images/kakao_login.png) no-repeat;
}

.log_icon.fb {
    background: url(../images/fb_login.png) no-repeat;
}

.log_icon.google {
    background: url(../images/google_login.png) no-repeat;
}

#login_btn,
#join_btn {
    border: 1px solid #5c068c;
    width: 437px;
    height: 55px;
    font-size: 18px;
    border-radius: 10px;
}

#login_btn {
    color: #fff;
    background-color: #5c068c;
}

#join_btn {
    color: #5c068c;
    background-color: #fff;
}


/* footer */
footer {
    background: #000;
    color: #fff;
    padding: 20px;
}

.footer_wrap {
    display: flex;
    flex-direction: column;
}

.footer_right dl {
    margin-bottom: 28px;
}

.footer_right dt {
    font-weight: 800;
}

.footer_right dd {
    display: flex;
    flex-direction: column;
    padding: 4px 0;
    font-size: 10px;
}

.footer_right p {
    padding: 2px 0;
}

.footer_bottom {
    display: flex;
    font-size: 10px;
}

.bottom_logo {
    display: block;
    background: url(../images/bottom_logo.png) no-repeat;
    width: 63px;
    height: 63px;
    text-indent: -9999px;
    margin-right: 20px;
}

.bottom_copyright {
    flex: 1;
    font-size: 10px;
}

.footer_right h3 {
    font-size: 16px;
    font-weight: 800;
}

.notice_cont {
    padding: 4px 0;
    font-size: 10px;
}

.notice a:hover {
    text-decoration: underline;
    text-underline-position: under;
}

.notice_more_btn {
    margin-left: 24px;
}

.sns {
    margin: 28px 0;
}

.sns ul {
    display: flex;
    padding: 4px 0;
}

.instagram_i {
    display: block;
    background: url(../images/instagram_i.png) no-repeat;
    width: 22px;
    height: 22px;
    text-indent: -9999px;
    position: absolute;
    top: 25%;
    left: 24%
}

.facebook_i {
    display: block;
    background: url(../images/facebook_i.png) no-repeat;
    width: 11px;
    height: 22px;
    text-indent: -9999px;
    position: absolute;
    top: 25%;
    left: 36%
}

.youtube_i {
    display: block;
    background: url(../images/youtube_i.png) no-repeat;
    width: 28px;
    height: 22px;
    text-indent: -9999px;
    position: absolute;
    top: 25%;
    left: 18%
}

.sns li {
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
}

.sns li:nth-child(2) {
    margin: 0 20px;
}

.footer_bottom {
    display: flex;
    align-items: center;
} 
