#cart_title {
    margin: 90px 0 64px 0;
    font-weight: 800;
}

.cart_delete {
    position: absolute;
    bottom: 24px;
    right: 42px;
}

.img-fluid {
    max-width: 50%;
}

.card-title,
.price_text {
    font-size: 20px;
}

@media (max-width: 640px) {
    .card-title,
    .price_text,
    .btn {
        font-size: 16px;
    }
}