@media (min-width: 640px) {

    /* slide1 - main image slider */
    
    .main_swiper .swiper-pagination {
        display: none;
    }

    .main_swiper .swiper_custom_pagination {
        width: 100%;
        display: flex;
    }

    .main_swiper .swiper_custom_pagination {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        border: 1px solid rgb(92 6 140 / 29%);
        z-index: 2;
        background: #ffffff61;
    }

    .main_swiper .swiper_custom_pagination>li {
        flex: 1;
        text-align: center
    }

    .main_swiper .swiper_custom_pagination>li:not(:last-child) {
        border-right: 1px solid rgb(92 6 140 / 29%);
    }

    .main_swiper .swiper_custom_pagination>li>a {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .main_swiper .swiper_custom_pagination>li.active>a,
    .main_swiper .swiper_custom_pagination>li:hover>a {
        background: #5c068c;
        color: #fff
    }

    .chayam_order_img {
        background: url(../images/chayam_order.png) no-repeat;
        width: 318px;
        height: 284px;
    }

    .quick_menu ul {
        padding-bottom: 20px; 
    }

    .quick_menu li {
        width: 107px;
        height: 107px;
    }

    .quick_menu a {
        font-size: 16px;
    }

    .quick_i {
        width: 52px;
        height: 52px;
    }

    .order {
        background: url(../images/order_i.png) no-repeat;
        margin-bottom: 3px;
    }
    
    .barcode {
        background: url(../images/barcode_i.png) no-repeat;
    }
    
    .stamp {
        background: url(../images/stamp_i.png) no-repeat;
        width: 44px;
        height: 44px;
        margin: 5px 0;
    }
    
    .coupon {
        background: url(../images/coupon_i.png) no-repeat;
    }

    /* slide2 - chayam menu slider */
    .container {
        padding: 40px;
    }

    .chayam_menu .container_inner {
        min-width: 640px;
        max-width: 1023px;
    }

    .section_title {
        font-size: 90px;
    }

    .section_title:after {
        width: 12px;
        height: 12px;
    }

    .menu_subtitle {
        font-size: 40px;
    }

    .menu_slider {
        min-width: 640px;
    }

    .menuSwiper {
        height: 600px;
    }

    .menuSwiper .swiper-slide-active {
        width: 380px;
    }


    .menu_pagination_wrap {
        width: 350px;
        height: 50px;
        background: #5c068c;
    }


    /* slide3 - competitve */

    .brand_story .container {
        width: 640px;
    }

    .brand_story .cont {
        margin: 14px;
    }

    /* franchise */
    .franchise strong {
        font-size: 32px;
    }

    .franchise a {
        font-size: 26px;
        padding: 20px 64px;
    }

    .franchise_cont_item:nth-child(2) {
        left: 72%
    }

    .franchise_cont_item:nth-child(3) {
        left: 65%;
    }

    .franchise_cont_item:nth-child(4) {
        left: 18%
    }

    .franchise_cont_item:nth-child(5) {
        left: 120%;
    }

    .franchise_cont_item:nth-child(6) {
        left: 180%;
    }

    .franchise_cont_item:nth-child(7) {
        left: 140%;
    }
}