/* header */
body {
    overflow-x: hidden!important;
}

/* slide1 - main image slider */
html,
body {
    position: relative;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

#fullpage .section:first-child{
    background-color: #eee;
}

.main_swiper {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.mySwiper {
    margin-top: 79px;
}

.main_swiper .swiper {
    width: 100%;
}

.main_swiper .swiper-slide {
    text-align: center;
    background: #fff;
}

.main_swiper .swiper-slide a {
    width: 100%;
    height: 100%;
}

.main_swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_swiper .swiper-button-next,
.main_swiper .swiper-button-prev {
    top: 56%;
    color: #888;
}

.main_swiper .swiper-pagination {
    display: block;
}

.main_swiper .swiper_custom_pagination {
    display: none;
}

.quick_menu {
    width: 100%;
    margin: auto;
}

.quick_menu .section_title {
    display: none;
}

.chayam_order_img {
    background: url(../images/chayam_order_320.png) no-repeat;
    width: 250px;
    height: 234px;
    margin: 24px auto;
}

.quick_menu ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.quick_menu li {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #2a1700;
}

.quick_menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 12px;
}

.quick_i {
    display: block;
    width: 31px;
    height: 31px;
}

.order {
    background: url(../images/order_320.png) no-repeat;
    margin-bottom: 3px;
}

.barcode {
    background: url(../images/barcode_320.png) no-repeat;
}

.stamp {
    background: url(../images/stamp_320.png) no-repeat;
    width: 22px;
    height: 22px;
    margin: 5px 0;
}

.coupon {
    background: url(../images/coupon_320.png) no-repeat;
}


/* slide2 - chayam menu slider */
.chayam_menu {
    overflow-x: hidden;
}

.chayam_menu .container_inner {
    width: 100%;
    margin: 0 auto;
    min-width: 320px;
    max-width: 639px;
    display: flex;
    position: relative;
    flex-direction: column;
}

.section_title {
    font-family: 'HSSantokki-Regular';
    font-size: 46px;
    font-weight: 600;
    color: #5c068c;
    margin-bottom: 40px;
    white-space: nowrap;
    text-align: center;
}

.section_title:after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 0 -8px 16px;
    background-color: #f53a6f;
}

.tabs {
    margin-top: 14px;
}

.tabs ul {
    display: flex;
    justify-content: space-evenly;
}

.menu_subtitle {
    font-family: 'HSSantokki-Regular';
    font-size: 24px;
    font-weight: 300;
    color: #888888;
    padding-bottom: 26px;
    white-space: nowrap;
}

.menu_subtitle.active {
    text-decoration: underline;
    text-underline-position: under;
    color: #f53a6f;
}

.menu_slider {
    position: relative;
    width: 100%;
    max-width: 1024px;
    display: none;
}

.menu_slider.active {
    display: block;
}

.menuSwiper {
    height: 500px;
}

.menuSwiper .swiper-wrapper {
    align-items: center;
}

.menuSwiper .swiper-slide {
    width: 220px;
    text-align: center;
}

.menuSwiper .swiper-slide-active {
    width: 320px;
}

.menuSwiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu_pagination_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 46px;
    background: #5c068c;
    padding: 20px;
    margin: 0 auto;
}

.menu_pagination {
    color: #fff;
}

.menu_pagination_wrap .button_prev {
    width: 26px;
    height: 6px;
    background: url(../images/prev.png) no-repeat;
    text-indent: -9999px;
}

.menu_pagination_wrap .button_next {
    width: 26px;
    height: 6px;
    background: url(../images/next.png) no-repeat;
    text-indent: -9999px;
}

/* slide3 - brand_story */
#fullpage .section:nth-child(3) {
    background-color: #eedcc8;
}

.brand_story .container {
    margin: auto;
}

.brand_story .section_title {
    text-align: center;
}

.brand_story .cont_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.brand_story .cont {
    width: 85%;
    min-width: 320px;
    min-height: 170px;
    margin: 14px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    background-color: #ffffff61;

}

.cont_subtitle {
    border-top-right-radius: 12px;
    background-color: #56443a;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 30px;
    padding: 12px 0;
}

.cont_subtitle span {
    color: #fff; 
    font-weight: 800;
    font-size: 24px;
}

.brand_story .cont ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 28px;
    flex-direction: column;
    font-size: 18px;
    font-weight: 700;
    color: #2a1700;
    padding: 16px 0;
}

/* franchise */
.franchise {
    width: 100%;
    height: 100%;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
}

.franchise .container_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.franchise strong {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    color: #f53a6f;
    margin-bottom: 40px;
}

.franchise a {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    font-family: 'NanumSquareRound';
    font-size: 20px;
    font-weight: 800;
    color: #5c068c;
    border: 1px solid #5c068c;
    background: #fff;
    padding: 16px 40px;
}

.franchise a:hover {
    color: #fff;
}

.franchise a::before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5c068c;
    transform: translateX(-100%);
    transition: transform .3s cubic-bezier(0.16, 0.04, 0.03, 0.95);
}

.franchise a:hover::before {
    transform: translateX(0%);
}

.franchise a span {
    z-index: 1;
}

.franchise_cont_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(-200%, 0);
    -webkit-animation: franchiseAni 30s linear 0s infinite;
    animation: franchiseAni 30s linear 0s infinite;
}

.franchise_cont_item {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .6;
}

.franchise_cont_item img {
    width: 140px;
}

.franchise_cont_item:nth-child(1) {
    top: 10%;
    left: 5%;
}

.franchise_cont_item:nth-child(2) {
    top: 17%;
    left: 85%
}

.franchise_cont_item:nth-child(3) {
    top: 60%;
    left: 120%;
}

.franchise_cont_item:nth-child(4) {
    top: 79%;
    left: 30%
}

.franchise_cont_item:nth-child(5) {
    top: 76%;
    left: 180%;
}

.franchise_cont_item:nth-child(6) {
    top: 50%;
    left: 220%;
}

.franchise_cont_item:nth-child(7) {
    top: 9%;
    left: 200%;
}

.franchise dt {
    position: absolute;
    left: 100px;
    top: 0px;
    color: #fff;
    font-size: 12px;
    display: inline-flex;
    border: 1px solid transparent;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    padding: 8px 16px;
    background-color: rgb(245, 58, 111, 0.8);
    z-index: 1;
    white-space: nowrap;
}

@keyframes franchiseAni {
    0% {
        transform: translate(100%, 0)
    }

    100% {
        transform: translate(-200%, 0)
    }
}

/* scroll indicator */
.fullpage-nav {
    display: none;
}

