@media (min-width: 460px) {
    .section_title {
        font-size: 60px;
    }

    .cont_subtitle {
        height: 40%;
        border-top-right-radius: 12px;
        background-color: #56443a;
        opacity: 0.8;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 34px;
    }

    .cont_subtitle span {
        color: #fff; 
        font-weight: 800;
        font-size: 24px;
    }

}