@media (min-width: 1024px) {

    /* header */
    header {
        background-color: #ffffff7d;
    }

    header {
        align-items: flex-start;
    }

    .gnb_wrap {
        display: block;
        width: 100%;
    }

    .gnb>ul {
        width: 100%;
        min-width: 720px;
        max-width: 1024px;
        margin: 0 auto;
        display: flex;
    }

    .gnb ul ul {
        padding: 15px 0;
        width: 100%;
    }

    .gnb>ul>li>a {
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }

    .depth_1 {
        width: 100%
    }

    .depth_1>ul {
        text-align: center;
        display: none;
    }

    .depth_1>ul>li:not(:first-child) {
        padding-top: 15px;
    }

    .depth_1>a {
        font-size: 20px;
        font-weight: 700;
    }

    .depth_1>a:after {
        display: block;
        content: '';
        border-bottom: solid 4px #5c068c;
        width: 100%;
        position: absolute;
        bottom: 0;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
    }

    .depth_1:hover>a:after {
        transform: scaleX(1);
    }

    .top_menu {
        font-weight: 700;
        height: 64px;
        display: flex;
        align-items: center;
    }

    .top_menu ul {
        display: flex;
    }

    .top_menu a {
        display: block;
        padding: 0 8px;
        white-space: nowrap;
    }

    .menu_popup {
        display: none;
    }

    

    /* slide1 - main image slider */
    .mySwiper {
        margin-top: 0;
   }

    .main_swiper {
        height: 100%;
        position: relative;
    }

    .main_swiper .swiper {
        height: 100%;
    }

    .main_swiper .swiper-slide img {
        height: 100vh;
    }

    .main_swiper .swiper_custom_pagination {
        position: absolute;
        bottom: 0;
    }
    
    .quick_menu {
        display: none;
    }

    /* slide2 - chayam menu slider */
    .chayam_menu {
        padding: 0;
    }

    .chayam_menu .container {
        width: 80%;
        margin: 0 auto;
    }

    .chayam_menu .container_inner {
        min-width: 1024px;
        max-width: 1400px;
        flex-direction: row;
    }

    .section_title {
        font-size: 90px;
        margin-bottom: 40px;
    }

    .section_title:after {
        width: 14px;
        height: 14px;
    }

    .tabs ul {
        display: block;
    }

    .menu_subtitle {
        font-size: 70px;
        padding-bottom: 26px;
    }

    .menu_slider {
        margin-top: -72px;
        margin-left: 50px;
    }

    .menuSwiper .swiper-slide {
        text-align: left;
    }

    .menuSwiper .swiper-slide img {
        width: 100%;
    }

    .menu_pagination_wrap {
        position: absolute;
        bottom: 0;
        left: 15px;
        z-index: 2;
    }

    /* slide3 - brand_story */
    .brand_story {
        padding: 0;
    }

    .brand_story .container {
        width: 1024px;
    }

    .brand_story .cont {
        width: 54%;
    }
    

    /* slide4 - franchise */


    .franchise .section_title {
        text-align: center;
    }

    .franchise strong {
        font-size: 54px;
    }

    .franchise a {
        font-size: 30px;
        padding: 26px 80px;
    }

    .franchise_cont_item img {
        width: auto;
    }

    .franchise_cont_item:nth-child(6) {
        left: 162%;
    }

    .franchise_cont_item:nth-child(7) {
        top: 10%;
        left: 120%;
    }

    .franchise dt {
        left: 135px;
        top: 12px;
        font-size: 14px;
    }

    /* footer */
    .footer_wrap {
        flex-direction: row-reverse;
    }

    .footer_right {
        padding-right: 20px;
    }

    .footer_left {
        flex: 1;
        border-left: 1px solid #fff;
        padding-left: 20px;
    }

    .footer_right {
        flex: 1;
    }

    .notice_more_btn {
        margin-left: 60px;
    }

    .sns {
        margin: 72px 0;
    }

    /* scroll indicator */
    .fullpage-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        z-index: 10;
        width: 23px;
        top: 50%;
        right: 50px;
        margin-top: -95px;
        justify-content: space-between;
        background-color: #eee6;
        border-radius: 8px;
        padding: 0px 14px;
    }

    .fullpage-nav-current,
    .fullpage-nav-total {
        color: #2a1700;
        font-weight: 800;
        padding: 10px 0;
    }
    
    .fullpage-nav-progress {
        width: 4px;
        height: 120px;
        background-color: #c1c1c1;
    }

    .fullpage-nav-progress-active {
        display: block;
        width: 4px;
        background-color: #5c068c;
        transition: all .5s cubic-bezier(0.16, 0.04, 0.03, 0.95);
    }
}

