/* main */

#join_title {
    margin: 90px 0 64px 0;
    text-align: center;
    font-size: 38px;
    font-weight: 800;
}

.err_txt {
    color: rgb(250, 85, 85);
}

.terms_link {
    display: flex;
    align-items: center;
    color: #5c068c;
}

.terms_link::after {
    content: "";
    display: inline-block;
    margin-left: 4px;
    width: 10px;
    height: 13px;
    background: url(../images/terms.png) no-repeat;
}

.custom_checkbox {
    width: 23px;
    height: 23px;
    margin: 0;
    background-image: url(../images/unchecked.png);
    background-repeat: no-repeat;
    background-size: 100%;
    appearance: none;
    border: 0;
}

.custom_checkbox:checked {
    background-image: url(../images/checked.png) !important;
    background-color: inherit;
    border-color: inherit;
}

.submit_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

