#mypage_title {
    margin: 90px 0 64px 0;
    font-weight: 800;
}

.stamp_board {
    width: 512px;
    border-radius: 20px;
    background: rgba(92, 6, 140, .2);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.stamp_board img {
    opacity: 0.5;
    margin: 10px;
}

.stamp_board img.active {
    opacity: 1;
}

.point_notice, 
.point_notice li{
    list-style-type: disc;
}

.point_notice {
    padding-left: 20px;
}

@media (max-width: 768px) {
    .stamp_board {
        width: 340px;
    }
}