/* main */

.finish_wrap {
    min-height: 450px;
    height: calc(100vh - 518px);
}

.mypage_info {
    font-size: 20px;
}

@media (max-width: 640px) {
    .mypage_info {
        display: flex;
        flex-direction: column;
        font-size: 16px;
    }
}